* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
}


.background {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' preserveAspectRatio='none' viewBox='0 0 1440 720'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1109%26quot%3b)' fill='none'%3e%3crect width='1440' height='720' x='0' y='0' fill='white'%3e%3c/rect%3e%3cpath d='M0%2c542.881C108.717%2c536.799%2c218.903%2c541.025%2c315.904%2c491.556C418.966%2c438.996%2c523.983%2c365.879%2c561.6%2c256.474C598.527%2c149.074%2c530.049%2c38.465%2c510.134%2c-73.346C491.029%2c-180.607%2c501.435%2c-292.934%2c446.939%2c-387.274C385.835%2c-493.054%2c307.25%2c-617.721%2c186.197%2c-634.129C63.451%2c-650.766%2c-17.948%2c-500.786%2c-136.952%2c-466.416C-256.814%2c-431.798%2c-413.174%2c-522.545%2c-502.329%2c-435.271C-589.816%2c-349.63%2c-533.576%2c-199.322%2c-534.863%2c-76.902C-535.974%2c28.753%2c-541.818%2c132.063%2c-509.35%2c232.612C-473.706%2c342.998%2c-438.533%2c467.876%2c-339.467%2c528.221C-240.74%2c588.36%2c-115.422%2c549.338%2c0%2c542.881' fill='rgb(235%2c 249%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1440 1415.842C1567.562 1389.185 1626.333 1244.943 1717.545 1151.868 1786.738 1081.262 1851.826 1014.2660000000001 1911.083 935.136 1986.9189999999999 833.867 2111.9790000000003 749.678 2113.466 623.17 2114.956 496.334 2003.562 399.473 1918.483 305.392 1834.97 213.043 1747.978 112.18299999999999 1626.535 84.72000000000003 1507.42 57.783000000000015 1387.74 111.71299999999997 1275.57 160.00300000000004 1174.204 203.64200000000005 1072.638 256.951 1012.1120000000001 349.233 954.931 436.414 965.2339999999999 546.475 954.097 650.138 943.392 749.776 929.2239999999999 846.2139999999999 948.1469999999999 944.6220000000001 971.566 1066.411 986.79 1200.063 1076.344 1285.8600000000001 1171.219 1376.755 1311.388 1442.7179999999998 1440 1415.842' fill='rgba(254%2c 246%2c 240%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1109'%3e%3crect width='1440' height='720' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  align-self: center;
  padding: 6em;
  /* background-color: linear-gradient(#3ebe32, #25921b) */
}

::placeholder {
  color: #a5a5a5;
}